{{> nav-block}}

<div id="main-container" class="container1">
    <div class="jumbotron text-center header-wrap" align="center">
        <section id="section-form" class="vh-100 bg-image">
            <div class="mask d-flex align-items-center h-100 gradient-custom-3">
                <div class="container h-100">
                    <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-12">
                            <div class="card opaque-card" style="border-radius: 15px;">
                                <div class="card-body p-4">

                                     <form class="create-account-form" action="">
                                               <p class="lead">Matching pet owners with trusted help in their area.</p>
                                                <hr style="width: 400px;" class="my-4 " >
                                                <p style="font-size: 1.5rem; width: 400px; margin: auto;">When you love animals, you want to see them get the care they deserve.</p>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
</form>
<script src ="javascript/create-account.js"></script>
<script src ="javascript/create-owner.js"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/login-walker.js"></script>


{{!-- {{> modal/login-block}} --}}