{{> nav-block}}
<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-10 col-lg-8 mt-5">
   
        <h1 id="jobs-in-area">Showing Jobs in Your Area</h1>
        {{#if isWalker}}
        <a class="radius-modal-link" data-toggle="modal" data-target="#radius-change">
        Change Search Radius
        </a>{{/if}} 
        
        <div class="mt-2">
            {{> job-search-job-card jobs isWalker=isWalker loggedIn=loggedIn}}
        </div>
    </div>
</div>
{{> modal/change-radius }}
<script src="/javascript/accept-job.js"></script>
<script src="/javascript/change-radius.js"></script>
